Biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <annotation>
        <documentation>
            Esquema XSD para el archivo <Biblioteca_XSD class="xml"></Biblioteca_XSD>
        </documentation>
    </annotation>

    <element name="biblioteca">
        <complexType>
            <all>
                <element name="libros">
                    <complexType>
                        <sequence>
                            <element name="libro" minOccurs="0" maxOccurs="unbounded">
                                <complexType> 
                                    <all>
                                        <element name="titulo" type="string" maxOccurs="1"></element>
                                        <element name="capitulos">
                                            <complexType>
                                                <sequence>
                                                    <element name="capitulo_01">
                                                        <complexType>
                                                            <all>
                                                                <element name="titulo" type="string"></element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="info" type="string" use="optional"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </all>
                                                            <attribute name="num_pag" type="integer" use="optional"></attribute>
                                                        </complexType>
                                                    </element>
                                                    <element name="capitulo_02">
                                                        <complexType>
                                                            <all>
                                                                <element name="titulo" type="string"></element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="info" type="string" use="optional"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </all>
                                                            <attribute name="num_pag" type="integer" use="optional"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="indice" minOccurs="0"></element>
                                        <element name="sinopsis" type="string"></element>
                                    </all>
                                    <attribute name="id" type="string" use="required"></attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="novela"></enumeration>
                                                <enumeration value="infantil"></enumeration>
                                                <enumeration value="did치ctico"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="num_pag" type="integer" use="optional"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

                <element name="revistas">
                    <complexType>
                        <sequence>
                            <element name="revista" minOccurs="0" maxOccurs="unbounded">
                            <complexType>
                                <all>
                                    <element name="titulo" type="string"></element>
                                    <element name="num_revista" type="integer"></element>
                                    <element name="indice" type="string" minOccurs="0"></element>
                                    <element name="seccion_01">
                                        <complexType>
                                            <all>
                                                <element name="nombre" type="string"></element>
                                                <element name="contenido">
                                                    <complexType>
                                                        <attribute name="info" type="string" use="optional"></attribute>
                                                    </complexType>
                                                </element>
                                            </all>
                                            <attribute name="num_pag" type="integer" use="optional"></attribute>
                                        </complexType>
                                    </element>
                                    <element name="seccion_02">
                                        <complexType>
                                            <all>
                                                <element name="nombre" type="string"></element>
                                                <element name="contenido">
                                                    <complexType>
                                                        <attribute name="info" type="string" use="optional"></attribute>
                                                    </complexType>
                                                </element>
                                            </all>
                                            <attribute name="num_pag" type="integer" use="optional"></attribute>
                                        </complexType>
                                    </element>
                                </all>
                                <attribute name="id" type="string" use="required"></attribute>
                                <attribute name="tipo_clase" use="required">
                                    <simpleType>
                                        <restriction base="string">
                                            <enumeration value="inform치tica"></enumeration>
                                            <enumeration value="coraz칩n"></enumeration>
                                            <enumeration value="coches"></enumeration>
                                            <enumeration value="investigaci칩n"></enumeration>
                                            <enumeration value="otras"></enumeration>
                                        </restriction>
                                    </simpleType>
                                </attribute>
                                <attribute name="num_pag" type="integer" use="optional"></attribute>
                            </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>

                <element name="periodicos">
                    <complexType>
                        <sequence>
                            <element name="periodico" minOccurs="0" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="seccion"  minOccurs="0" maxOccurs="unbounded">
                                            <complexType>
                                                <sequence>
                                                    <element name="articulo_01">
                                                        <complexType>
                                                            <all>
                                                                <element name="titulo" type="string"></element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="info" type="string" use="optional"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </all>
                                                            <attribute name="autor" type="string" use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                    <element name="articulo_02">
                                                        <complexType>
                                                            <all>
                                                                <element name="titulo" type="string"></element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="info" type="string" use="optional"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </all>
                                                            <attribute name="autor" type="string" use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                                <attribute name="tipo_seccion">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <enumeration value="economica"></enumeration>
                                                            <enumeration value="opinion"></enumeration>
                                                            <enumeration value="deportes"></enumeration>
                                                            <enumeration value="nacional"></enumeration>
                                                            <enumeration value="internacional"></enumeration>        
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                            </complexType>
                                        </element>
                                        <element name="indice" type="string" minOccurs="0"></element>
                                    </sequence>
                                    <attribute name="id" type="string" use="required"></attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="nacional"></enumeration>
                                                <enumeration value="internacional"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="fecha_publi" type="date" use="optional"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </all>
        </complexType>
    </element>
</schema>